html body{
    width: 100%;
}
main{
    padding-top: 100px;
}

.header{
    display: flex;
    justify-content: center;
    padding: 49px 0;
    background-color: #fef7f2;
    position: fixed;
    width: 100%;
    z-index: 100;
}
.header-wraper{
    display: flex;
    max-width: 1440px;
    width: 90%;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 150px;
}
.logo img{
    width: 100%;
}
.navigation ul{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 30px;
}
.navigation a{
    font-family: 'Montserrat';
    font-size: 18px;
    font-weight: 700;
    line-height: 21.94px;
    text-align: left;
    color: #2B1B12;
}
.search-acc{
    display: flex;
    column-gap: 30px;
    align-items: center;
}
.search-acc i{
    font-size: 25px;
}
.sign-up{
    width: 122px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2B1B12;
    border-radius: 8px;
}
.sign-up p{
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 600;
    line-height: 19.5px;
    text-align: left;
    color: #FFF;
}
.sec-one{
    display: flex;
    justify-content: center;
    background-color: #fef7f2;
}
.sec-one-wraper{
    max-width: 1440px;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sec-one-photo{
    background-image: url(../images/hero\ image\ 1.png);
    width: 66%;
    height: 1000px;
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
}
.sec-one-title{
    display: flex;
    flex-direction: column;
    padding-bottom: 150px;
}
.sec-one-wraper h2{
    font-family: 'Montserrat';
    font-size: 74px;
    font-weight: 800;
    line-height: 90.21px;
    text-align: left;
    color: #2B1B12;
}
.sec-one-wraper h3{
    font-family: 'Montserrat';
    font-size: 68px;
    font-weight: 800;
    line-height: 82.89px;
    text-align: left;
    color: #2B1B12;
}
.title-p{
    font-family: 'Montserrat';
    font-size: 18px;
    font-weight: 700;
    line-height: 28.8px;
    color: #4F3527;
    width: 413px;
    margin: 32px 0 72px 0;
}
.sec-one-button{
    width: 176px;
    height: 58px;
    border-radius: 8px;
    background-color: #2B1B12;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button-p{
    font-family: 'Montserrat';
    font-size: 18px;
    font-weight: 600;
    line-height: 21.94px;
    text-align: center;
    color: #FFF;
}
.sec-one-sign{
    position: absolute;
    max-width: 1200px;
    width: 90%;
    display: flex;
    background-color: #DDC7BB;
    padding: 50px 31px;
    border-radius: 18px;
    column-gap: 46px;
    transform: translate(0%,440%);
    z-index: 10;
}
.sec-one-sign input{
    width: 300px;
    height: 58px;
    border: none;
    border-radius: 8px;
    background-color: #FBF5F1;
    font-family: 'Montserrat';
    font-size: 18px;
    font-weight: 700;
    line-height: 21.94px;
    text-align: left;
    color: #695346;
    padding: 18px 15px;
}
.sec-one-sign form{
    display: flex;
    position: relative;
    column-gap: 24px;
}
.sec-one-sign button{
    width: 15%;
    background-color: #2B1B12;
    color: #FFF;
    border: none;
    border-radius: 8px;
    font-family: 'Montserrat';
    font-size: 18px;
    font-weight: 600;
    line-height: 21.94px;
}
.sec-one-sign input{
    width: 100%;
}
.sec-two{
    display: flex;
    justify-content: center;
    padding-bottom: 144px;
}
.sec-two-wraper{
    max-width: 1440px;
    width: 90%;
    display: flex;
    justify-content: space-between;
}
.sec-two-photo{
    width: 55%;
    height: 500px;
}
.sec-two-photo img{
    width: 100%;
    height: 100%;
    border-radius: 18px;
}
.sec-two-content{
    width: 35%;
}
.content-header h2{
    font-family: 'Montserrat';
    font-size: 40px;
    font-weight: 800;
    line-height: 56px;
    text-align: left;
    color: #2B1B12;
}
.content-header p{
    font-family: 'Montserrat';
    font-size: 18px;
    font-weight: 700;
    line-height: 28.8px;
    text-align: left;
    color: #4F3527;
    padding: 32px 0 48px 0;
}
.stats{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.stats h2{
    font-family: 'Montserrat';
    font-size: 48px;
    font-weight: 700;
    line-height: 58.51px;
    text-align: left;
    color: #4F3527;
}
.stats p{
    font-family: 'Montserrat';
    font-size: 18px;
    font-weight: 600;
    line-height: 21.94px;
    text-align: left;
    color: #4F3527;
}
.sec-three{
    display: flex;
    justify-content: center;
    padding-bottom: 144px;
}
.sec-three-wraper{
    max-width: 1440px;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sec-three-title{
    width: 38%;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    padding-bottom: 64px;
}
.sec-three-title h2{
    font-family: 'Montserrat';
    font-size: 40px;
    font-weight: 800;
    line-height: 56px;
    text-align: center;
    color: #2B1B12;
}
.sec-three-title p{
    font-family: 'Montserrat';
    font-size: 18px;
    font-weight: 700;
    line-height: 28.8px;
    text-align: center;
    color: #4F3527;
}
.reasons{
    display: flex;
    column-gap: 3.1vw;
}
.reason{
    display: flex;
    flex-direction: column;
    padding: 36px 24px;
    background-color: #DDC7BB;
    border-radius: 18px;
}
.icon{
    background-color: #FBF5F1;
    border-radius: 8px;
    width: 83px;
    height: 83px; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.reason h2{
    font-family: 'Montserrat';
    font-size: 18px;
    font-weight: 700;
    line-height: 21.94px;
    text-align: left;
    color: #2B1B12;
    margin: 21px 0 12px 0;
}
.reason p{
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 600;
    line-height: 20.8px;
    text-align: left;
    color: #4F3527;
}
.sec-four{
    display: flex;
    justify-content: center;

}
.sec-four-wraper{
    display: flex;
    max-width: 1440px;
    width: 90%;
    flex-direction: column;
}
.residence img{
    width: 100%;
}
.sec-four-title{
    display: flex;
    margin-bottom: 64px;
    justify-content: center;
}
.sec-four-title h2{
    font-family: 'Montserrat';
    font-size: 40px;
    font-weight: 800;
    line-height: 56px;
    text-align: center;
    color: #2B1B12;
}
.residences{
    display: flex;
    justify-content: space-between;
        
}
.residence{
    border-radius: 18px;
    background-color: #DDC7BB;

}

.residence img{
    border-radius: 18px;
}
.content{
    padding: 18px 30px 24px 20px;
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    border-radius: 18px;
}
.room-ft{
    display: flex;
    justify-content: space-between;
}
.room{
    display: flex;
    align-items: center;
    column-gap: 8px;
}
.ft{
    display: flex;
    align-items: center;
    column-gap: 8px;
}
.loc{
    display: flex;
}
.loc h2{
    font-family: 'Montserrat';
    font-size: 20px;
    font-weight: 700;
    line-height: 24.38px;
    text-align: left;
    color: #2B1B12;
}
.room p{
    font-family: 'Montserrat';
    font-size: 18px;
    font-weight: 600;
    line-height: 21.94px;
    text-align: left;
    color: #4F3527;
}
.room i{
    background-color: #FFF;
    padding: 5px;
}
.ft p{
    font-family: 'Montserrat';
    font-size: 18px;
    font-weight: 600;
    line-height: 21.94px;
    text-align: left;
    color: #4F3527;
}
.ft i{
    background-color: #FFF;
    padding: 5px;
}
.price{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sec-four-sign{
    width: 95px;
    height: 40px;
    border-radius: 8px;
    background-color: #2B1B12;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sec-four-sign p{
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 600;
    line-height: 17.07px;
    text-align: left;
    color: #FFF;
}
.price-p p{
    font-family: 'Montserrat';
    font-size: 22px;
    font-weight: 700;
    line-height: 26.82px;
    text-align: left;
    color: #4F3527;
}
.sec-five{
    display: flex;
    justify-content: center;
    background-color: #fbfbf0;
    padding: 54px 0;
    margin-top: 143px;
}
.sec-five-wraper{
    display: flex;
    max-width: 1440px;
    width: 90%;
    flex-direction: column;
    align-items: center;
}
.reviews{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.review{
    background-color: #DDC7BB;
    border-radius: 18px;
    max-width: 382px;
    width: 100%;
}
.review-photo{
    width: 100%;
    border-radius: 18px;
}
.person{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.rating{
    display: flex;
    background-color: #FFF;
    padding: 5px;
    border-radius: 4px;
}
.sec-five-content{
    padding: 28px 24px 34px 24px;
}
.person-photo{
    border-radius: 50%;
}
.name h2{
    font-family: 'Montserrat';
    font-size: 20px;
    font-weight: 700;
    line-height: 24.38px;
    text-align: left;
    color: #2B1B12;
}
.name p{
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 600;
    line-height: 19.5px;
    text-align: left;
    color: #2B1B12;
}
.name{
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}
.rating p{
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 600;
    line-height: 19.5px;
    text-align: left;
    color: #2B1B12;
}
.review-text p{
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 600;
    line-height: 20.8px;
    text-align: left;
    color: #4F3527;
}
.review-text{
    margin-top: 16px;
}
.sec-five-title h2{
    font-family: 'Montserrat';
    font-size: 40px;
    font-weight: 800;
    line-height: 56px;
    text-align: center;
    color: #2B1B12;
}
.sec-five-title{
    margin-bottom: 63px;
    width: 35%;
}
.arrows{
    display: flex;
    column-gap: 36px;
    margin-top: 45px;
}
.right-arrow{
    display: flex;
    width: 58px;
    height: 58px;
    background-color: #2B1B12;
    border-radius: 50%;
    color: #fff;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}
.left-arrow{
    display: flex;
    width: 58px;
    height: 58px;
    justify-content: center;
    align-items: center;
    background-color: #2B1B12;
    border-radius: 50%;
    color: #fff;
    font-size: 25px;
}
.sec-six{
    display: flex;
    justify-content: center;
    padding: 144px 0;
}
.sec-six-wraper{
    display: flex;
    max-width: 1440px;
    width: 47.2%;
    flex-direction: column;
}
.features div{
    display: flex;
}
.features p{
    font-family: 'Montserrat';
    font-size: 18px;
    font-weight: 700;
    line-height: 21.94px;
    text-align: left;
    color: #534E32;
    margin-left: 10px;
}
.first,
.second{
    display: flex;
    align-items: center;
}
.sec-six-title h2,.sec-six-title h3{
    font-family: 'Montserrat';
    font-size: 40px;
    font-weight: 800;
    line-height: 56px;
    text-align: center;
    color: #2B1B12;
}
.features{
    display: flex;
    justify-content: space-between;
    margin: 34px 0 66px 0;
}
.sec-six-wraper input{
    width: 100%;
    height: 58px;
    background-color: #DDC7BB;
    font-family: 'Montserrat';
    font-size: 18px;
    font-weight: 600;
    line-height: 21.94px;
    text-align: left;
    color: #543E32;
    border-radius: 8px;
    border: none;
    padding-left: 20px;
}
.sec-six-wraper button{
    width: 20%;
    height: 58px;
    border: none;
    border-radius: 8px;
    background-color: #2B1B12;
    font-family: 'Montserrat';
    font-size: 18px;
    font-weight: 600;
    line-height: 21.94px;
    color: #fff;
}
.sec-six-wraper form{
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
}

.footer{
    display: flex;
    justify-content: center;
    background-color: #ddc7bb;
    padding: 80px 0 202px 0;
}
.footer-wraper{
    max-width: 1440px;
    width: 90%;

}
.links a{
    font-family: 'Montserrat';
    font-size: 18px;
    font-weight: 700;
    line-height: 21.94px;
    text-align: left;
    color: #4F3527;
}
.links h2{
    font-family: 'Montserrat';
    font-size: 22px;
    font-weight: 700;
    line-height: 26.82px;
    text-align: left;
    color: #2B1B12;
    margin-bottom: 34px;
}
.links{
    display: flex;
    column-gap: 80px;
}
.footer-content{
    display: flex;
    justify-content: space-between;
}
.logo p{
    font-family: 'Montserrat';
    font-size: 18px;
    font-weight: 700;
    line-height: 23.4px;
    text-align: left;
    color: #4F3527;
}
.links ul{
    display: flex;
    flex-direction: column;
    row-gap: 32px;
}
.logo p{
    margin-top: 32px;
}
.footer-content .logo{
    width: 250px;
}
.burgerbar{
    display: none;
}
@media (max-width: 1024px){
    .links{
        column-gap: 40px;
    }
    .reviews{
        flex-wrap: wrap;
        row-gap: 30px;
        justify-content: center;
        column-gap: 30px;
    }
    .residences{
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
    }
    .sec-two-wraper{
        flex-direction: column;
        align-items: center;
        row-gap: 50px;
    }
    .content-header h2{
        text-align: center;
    }
    .content-header{
        width: 100%;
    }
    .content-header p{
        width: 100%;
        text-align: center;
    }
    .sec-two-photo{
        width: 100%;
    }
    .sec-two-content{
        width: 100%;
    }
}
@media (max-width: 900px){
    .navigation{
        display: none;
    }
    .header-wraper .logo{
        order: 1;
    }
    .search-acc{
        order: 3;
    }
    .burgerbar{
        display: block;
        order: 2;
        background-color: #2B1B12;
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
    }
    .burgerbar a{
        color: #FFF;
        font-size: 24px;
    }
}
@media (max-width: 750px){
    .reasons{
        flex-direction: column;
        row-gap: 30px;
    }
    .sec-one-wraper{
        flex-direction: column;
    }
    .sec-one-photo{
        width: 100%;
        background-position: center;
        background-size: cover;
        height: 500px;
    }
    .sec-one{
        padding-top: 40px;
        padding-bottom: 100px;
        flex-direction: column;
    }
    main{
        padding-top: 147px;
    }
    .sec-one-sign{
        transform: translate(5.5%, 400%);
    }
    .sec-two{
        padding-top: 150px;
    }
    .footer-content{
        flex-direction: column;
    }
    .footer-content .logo{
        width: 100%;
        row-gap: 30px;
        margin-bottom: 50px;
    }
}
@media (max-width: 580px){
    .links ul{
        display: none;
    }
    .links{
        flex-direction: column;
    }
    .sec-six-wraper{
        width: 90%;
    }
    .sec-one-sign form{
        flex-direction: column;
        row-gap: 30px;
    }
    .sec-one-sign{
        flex-direction: column;
        row-gap: 30px;
        transform: translate(0%,190%);
    }
    .sec-one-sign button{
        width: 100%;
        height: 50px;
    }
    .sec-two{
        padding-top: 500px;
    }
    .sec-one-title{
        align-items: center;
    }
    .sec-one-title h2{
        text-align: center;
        font-size: 45px;
    }
    .sec-one-title h3{
        text-align: center;
        font-size: 35px;
        line-height: 20px;
    }
    .title-p{
        text-align: center;
        font-size: 16px;
    }
    .search-acc{
        display: none   ;
    }
    .sec-one-button{
        width: 100%;
    }
    .sec-one{
        justify-content: center;
        align-items: center;
    }
    .sec-one-wraper{
        justify-content: center;
    }
    .sec-three-title{
        width: 90%;
    }
    .sec-one-title{
        width: 70vw;
    }
    .title-p{
        width: 100%;
    }
}